<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sparke.modules.system.role.mapper.RelationMapper">
    <insert id="insert">
        INSERT INTO sys_role_menu (id, menuid, roleid) VALUES
            (
                #{id},
                #{menuid},
                #{roleid}
            )
    </insert>
    <insert id="batchInsert">
        INSERT INTO sys_role_menu (id, menuid, roleid)
        VALUES
        <foreach collection="list" item="item" open="" separator="," close=" ">
            (
            #{item.id},
            #{item.menuid},
            #{item.roleid}
            )
        </foreach>
    </insert>
</mapper>