<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <property name="PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([%p]) %clr([%c]){magenta} %clr([%L]){cyan} %clr(:){faint} %m%n"/>
    <springProperty name="CONSOLE_LEVEL" source="logging.level.root" defaultValue="info"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 开发环境 -->
    <springProfile name="dev,test">
        <root level="${CONSOLE_LEVEL}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <root level="${CONSOLE_LEVEL}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <logger name="cn.sparke.modules.knowledge.mapper.KnowledgeMapper" level="DEBUG" />
</configuration>